In [1]:
import pandas as pd

In [4]:
xls= pd.ExcelFile("/home/simplon/Téléchargements/chomage_zone.xls")
data = pd.read_excel(xls)
print(data)

  Taux de chômage localisés par zone d'emploi, en moyenne trimestrielle, en France métropolitaine (données CVS)
0  Le taux de chômage est le rapport (en %) entre...
1  Le taux de chômage est calculé pour les 304 zo...
2  Le taux de chômage est évalué quatre fois par ...
3  Ce fichier présente les taux de chômage locali...

In [5]:
xls.sheet_names

['Documentation', 'txcho_ze', 'txcho_parties reg']

In [6]:
xls.parse(1)

,"Taux de chômage localisés par zone d'emploi, en moyenne trimestrielle, en France métropolitaine (données CVS)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(*) : Lors du passage au nouveau découpage rég...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,en %
3,Code de la zone d'emploi 2010,Libellé de la zone d'emploi 2010,Code région 2016,Libellé région 2016,1er trimestre 2003,2e trimestre 2003,3e trimestre 2003,4e trimestre 2003,1er trimestre 2004,2e trimestre 2004,...,4e trimestre 2017,1er trimestre 2018,2e trimestre 2018,3e trimestre 2018,4e trimestre 2018,1er trimestre 2019,2e trimestre 2019,3e trimestre 2019,4e trimestre 2019,1er trimestre 2020
4,ZE2010,LIBZE2010,REG,LIBREG,2003-T1,2003-T2,2003-T3,2003-T4,2004-T1,2004-T2,...,2017-T4,2018-T1,2018-T2,2018-T3,2018-T4,2019-T1,2019-T2,2019-T3,2019-T4,2020-T1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,9404,Bastia,94,Corse,9.2,8.9,8.9,9.3,9.4,9.3,...,9.7,10.1,9.7,9.4,9.2,9.2,8.8,8.5,8.2,7.9
306,9405,Calvi-L'Île-Rousse,94,Corse,11.7,11.4,11.2,11.4,11.2,11.5,...,11.6,12.5,12.2,11.9,11.4,11.6,11,10.8,10.5,10.1
307,9406,Corte,94,Corse,8.3,7.6,8.2,8.1,8,8,...,8.5,8.9,8.9,8.6,7.8,8.2,7.6,7.3,7.1,7.3
308,9407,Ghisonaccia-Aléria,94,Corse,9.6,8.8,9,9.4,9.6,9.7,...,10,10.6,10.4,10.1,9.9,10,9.4,9.4,9,8.6
309,"Source : Insee, Estimations de taux de chômage...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
data = pd.read_excel(xls,sheet_name = 'txcho_ze',skiprows=[0,1,2,3,4],header=0)
print(data)

                                                ZE2010           LIBZE2010  \
0                                                 0050      Mont-de-Marsan
1                                                 0051             Alençon
2                                                 0052       Cosne-Clamecy
3                                                 0053               Mâcon
4                                                 0054    Nogent-le-Rotrou
..                                                 ...                 ...
300                                               9404              Bastia
301                                               9405  Calvi-L'Île-Rousse
302                                               9406               Corte
303                                               9407  Ghisonaccia-Aléria
304  Source : Insee, Estimations de taux de chômage...                 NaN

      REG         LIBREG  2003-T1  2003-T2  2003-T3  2003-T4  2004-T1  \
0     0.0  interrégional      6.0      6.1      6.0      6.3      6.4
1     0.0  interrégional      7.2      7.5      7.2      7.6      7.7
2     0.0  interrégional      7.5      7.6      7.4      7.8      8.0
3     0.0  interrégional      5.3      5.3      5.2      5.3      5.4
4     0.0  interrégional      5.9      6.3      6.4      7.0      7.3
..    ...            ...      ...      ...      ...      ...      ...
300  94.0          Corse      9.2      8.9      8.9      9.3      9.4
301  94.0          Corse     11.7     11.4     11.2     11.4     11.2
302  94.0          Corse      8.3      7.6      8.2      8.1      8.0
303  94.0          Corse      9.6      8.8      9.0      9.4      9.6
304   NaN            NaN      NaN      NaN      NaN      NaN      NaN

     2004-T2  ...  2017-T4  2018-T1  2018-T2  2018-T3  2018-T4  2019-T1  \
0        6.2  ...      7.3      7.4      7.1      7.0      6.7      6.8
1        7.4  ...      8.3      8.6      8.4      8.4      8.1      8.1
2        7.7  ...      8.1      8.3      8.1      7.9      7.5      7.5
3        5.4  ...      6.4      6.5      6.5      6.4      6.3      6.4
4        7.2  ...      8.1      8.3      8.1      8.0      7.9      7.9
..       ...  ...      ...      ...      ...      ...      ...      ...
300      9.3  ...      9.7     10.1      9.7      9.4      9.2      9.2
301     11.5  ...     11.6     12.5     12.2     11.9     11.4     11.6
302      8.0  ...      8.5      8.9      8.9      8.6      7.8      8.2
303      9.7  ...     10.0     10.6     10.4     10.1      9.9     10.0
304      NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN

     2019-T2  2019-T3  2019-T4  2020-T1
0        6.7      6.7      6.5      6.1
1        7.9      7.9      7.8      7.4
2        7.2      7.4      7.2      6.8
3        6.3      6.3      6.1      5.9
4        7.8      8.0      7.4      7.1
..       ...      ...      ...      ...
300      8.8      8.5      8.2      7.9
301     11.0     10.8     10.5     10.1
302      7.6      7.3      7.1      7.3
303      9.4      9.4      9.0      8.6
304      NaN      NaN      NaN      NaN

[305 rows x 73 columns]

In [24]:
data.LIBZE2010.value_counts()

Melun                            1
Cahors                           1
Lisieux                          1
Issoudun                         1
Lons-le-Saunier                  1
                                ..
Le Mans                          1
Marne-la-Vallée                  1
Fougères                         1
Draguignan                       1
Belfort-Montbéliard-Héricourt    1
Name: LIBZE2010, Length: 304, dtype: int64

In [25]:
data.LIBREG.value_counts()

Auvergne-Rhône-Alpes          35
Nouvelle-Aquitaine            31
Grand-Est                     31
Occitanie                     30
Hauts-de-France               26
Bourgogne-Franche-Comté       23
Normandie                     20
Ile-de-France                 19
Centre-Val-de-Loire           19
Pays de la Loire              19
Bretagne                      18
Provence-Alpes-Côte d'Azur    17
interrégional                  9
Corse                          7
Name: LIBREG, dtype: int64

In [27]:
data.loc[data['LIBREG'] == "Provence-Alpes-Côte d'Azur", :]

,ZE2010,LIBZE2010,REG,LIBREG,2003-T1,2003-T2,2003-T3,2003-T4,2004-T1,2004-T2,...,2017-T4,2018-T1,2018-T2,2018-T3,2018-T4,2019-T1,2019-T2,2019-T3,2019-T4,2020-T1
280,9301,Digne-les-Bains,93.0,Provence-Alpes-Côte d'Azur,7.5,7.6,7.2,7.6,7.7,7.5,...,10.7,11.0,10.7,10.6,10.4,10.3,10.0,9.8,9.4,9.1
281,9302,Manosque,93.0,Provence-Alpes-Côte d'Azur,10.0,10.1,9.8,9.8,9.9,9.7,...,11.2,11.6,11.4,11.1,10.9,11.0,10.6,10.5,10.0,9.6
282,9303,Briançon,93.0,Provence-Alpes-Côte d'Azur,7.0,7.1,7.0,7.4,7.4,7.4,...,8.2,8.4,8.3,8.4,8.2,8.3,8.3,8.0,7.9,7.5
283,9304,Gap,93.0,Provence-Alpes-Côte d'Azur,7.0,7.0,6.9,7.1,7.3,7.1,...,8.2,8.3,8.3,8.2,8.0,8.0,7.7,7.5,7.2,7.0
284,9305,Cannes-Antibes,93.0,Provence-Alpes-Côte d'Azur,9.5,9.7,9.4,9.5,9.5,9.3,...,9.8,10.1,9.9,9.7,9.5,9.5,9.1,9.1,8.7,8.5
285,9306,Menton Vallée de la Roya,93.0,Provence-Alpes-Côte d'Azur,6.8,6.9,6.7,6.9,6.9,6.7,...,8.3,8.4,8.1,7.8,7.6,7.6,7.3,7.2,6.9,6.7
286,9307,Nice,93.0,Provence-Alpes-Côte d'Azur,8.1,8.1,8.0,8.3,8.3,8.1,...,9.6,9.8,9.6,9.5,9.2,9.2,8.9,8.9,8.4,8.2
287,9308,Aix-en-Provence,93.0,Provence-Alpes-Côte d'Azur,9.2,9.4,9.2,9.3,9.4,9.0,...,8.4,8.6,8.5,8.3,8.1,8.0,7.7,7.7,7.3,7.0
288,9309,Arles,93.0,Provence-Alpes-Côte d'Azur,11.1,11.4,11.1,11.4,11.5,11.0,...,12.4,12.5,12.5,12.3,11.7,11.8,11.4,11.4,11.0,10.7
289,9310,Marseille-Aubagne,93.0,Provence-Alpes-Côte d'Azur,11.6,11.8,11.4,11.6,11.7,11.3,...,11.5,11.9,11.7,11.6,11.2,11.2,10.8,10.7,10.3,9.9
290,9311,Istres-Martigues,93.0,Provence-Alpes-Côte d'Azur,10.3,10.5,10.3,10.5,10.5,10.2,...,10.8,11.1,10.8,10.7,10.2,10.3,10.1,9.9,9.6,9.2
291,9312,Salon-de-Provence,93.0,Provence-Alpes-Côte d'Azur,10.7,10.8,10.4,10.6,10.7,10.3,...,10.4,10.6,10.4,10.3,10.0,10.0,9.7,9.5,9.1,8.7
292,9313,Draguignan,93.0,Provence-Alpes-Côte d'Azur,11.4,11.4,11.2,11.4,11.3,11.1,...,11.6,12.0,11.8,11.5,11.2,11.2,10.9,10.8,10.2,9.8
293,9314,Fréjus-Saint Raphaël,93.0,Provence-Alpes-Côte d'Azur,10.0,10.1,10.1,10.6,10.9,11.0,...,11.7,12.2,11.9,11.7,11.5,11.5,11.1,11.0,10.5,10.3
294,9315,Toulon,93.0,Provence-Alpes-Côte d'Azur,10.6,10.6,10.3,10.5,10.6,10.4,...,9.5,9.7,9.6,9.5,9.3,9.3,8.9,8.8,8.4,8.1
295,9316,Cavaillon-Apt,93.0,Provence-Alpes-Côte d'Azur,9.3,9.2,8.9,9.1,9.1,9.0,...,11.9,12.1,11.9,11.8,11.4,11.7,11.2,11.2,10.7,10.3
296,9317,Orange,93.0,Provence-Alpes-Côte d'Azur,9.7,9.6,9.2,9.3,9.4,9.3,...,12.0,12.2,12.1,12.0,11.7,11.6,11.3,11.2,10.5,10.1

In [28]:
data2 = data.loc[data['LIBREG'] == "Provence-Alpes-Côte d'Azur", :]

In [29]:
print(data2)

    ZE2010                 LIBZE2010   REG                      LIBREG  \
280   9301           Digne-les-Bains  93.0  Provence-Alpes-Côte d'Azur
281   9302                  Manosque  93.0  Provence-Alpes-Côte d'Azur
282   9303                  Briançon  93.0  Provence-Alpes-Côte d'Azur
283   9304                       Gap  93.0  Provence-Alpes-Côte d'Azur
284   9305            Cannes-Antibes  93.0  Provence-Alpes-Côte d'Azur
285   9306  Menton Vallée de la Roya  93.0  Provence-Alpes-Côte d'Azur
286   9307                      Nice  93.0  Provence-Alpes-Côte d'Azur
287   9308           Aix-en-Provence  93.0  Provence-Alpes-Côte d'Azur
288   9309                     Arles  93.0  Provence-Alpes-Côte d'Azur
289   9310         Marseille-Aubagne  93.0  Provence-Alpes-Côte d'Azur
290   9311          Istres-Martigues  93.0  Provence-Alpes-Côte d'Azur
291   9312         Salon-de-Provence  93.0  Provence-Alpes-Côte d'Azur
292   9313                Draguignan  93.0  Provence-Alpes-Côte d'Azur
293   9314      Fréjus-Saint Raphaël  93.0  Provence-Alpes-Côte d'Azur
294   9315                    Toulon  93.0  Provence-Alpes-Côte d'Azur
295   9316             Cavaillon-Apt  93.0  Provence-Alpes-Côte d'Azur
296   9317                    Orange  93.0  Provence-Alpes-Côte d'Azur

     2003-T1  2003-T2  2003-T3  2003-T4  2004-T1  2004-T2  ...  2017-T4  \
280      7.5      7.6      7.2      7.6      7.7      7.5  ...     10.7
281     10.0     10.1      9.8      9.8      9.9      9.7  ...     11.2
282      7.0      7.1      7.0      7.4      7.4      7.4  ...      8.2
283      7.0      7.0      6.9      7.1      7.3      7.1  ...      8.2
284      9.5      9.7      9.4      9.5      9.5      9.3  ...      9.8
285      6.8      6.9      6.7      6.9      6.9      6.7  ...      8.3
286      8.1      8.1      8.0      8.3      8.3      8.1  ...      9.6
287      9.2      9.4      9.2      9.3      9.4      9.0  ...      8.4
288     11.1     11.4     11.1     11.4     11.5     11.0  ...     12.4
289     11.6     11.8     11.4     11.6     11.7     11.3  ...     11.5
290     10.3     10.5     10.3     10.5     10.5     10.2  ...     10.8
291     10.7     10.8     10.4     10.6     10.7     10.3  ...     10.4
292     11.4     11.4     11.2     11.4     11.3     11.1  ...     11.6
293     10.0     10.1     10.1     10.6     10.9     11.0  ...     11.7
294     10.6     10.6     10.3     10.5     10.6     10.4  ...      9.5
295      9.3      9.2      8.9      9.1      9.1      9.0  ...     11.9
296      9.7      9.6      9.2      9.3      9.4      9.3  ...     12.0

     2018-T1  2018-T2  2018-T3  2018-T4  2019-T1  2019-T2  2019-T3  2019-T4  \
280     11.0     10.7     10.6     10.4     10.3     10.0      9.8      9.4
281     11.6     11.4     11.1     10.9     11.0     10.6     10.5     10.0
282      8.4      8.3      8.4      8.2      8.3      8.3      8.0      7.9
283      8.3      8.3      8.2      8.0      8.0      7.7      7.5      7.2
284     10.1      9.9      9.7      9.5      9.5      9.1      9.1      8.7
285      8.4      8.1      7.8      7.6      7.6      7.3      7.2      6.9
286      9.8      9.6      9.5      9.2      9.2      8.9      8.9      8.4
287      8.6      8.5      8.3      8.1      8.0      7.7      7.7      7.3
288     12.5     12.5     12.3     11.7     11.8     11.4     11.4     11.0
289     11.9     11.7     11.6     11.2     11.2     10.8     10.7     10.3
290     11.1     10.8     10.7     10.2     10.3     10.1      9.9      9.6
291     10.6     10.4     10.3     10.0     10.0      9.7      9.5      9.1
292     12.0     11.8     11.5     11.2     11.2     10.9     10.8     10.2
293     12.2     11.9     11.7     11.5     11.5     11.1     11.0     10.5
294      9.7      9.6      9.5      9.3      9.3      8.9      8.8      8.4
295     12.1     11.9     11.8     11.4     11.7     11.2     11.2     10.7
296     12.2     12.1     12.0     11.7     11.6     11.3     11.2     10.5

     2020-T1
280      9.1
281      9.6
282      7.5
283      7.0
284      8.5
285      6.7
286      8.2
287      7.0
288     10.7
289      9.9
290      9.2
291      8.7
292      9.8
293     10.3
294      8.1
295     10.3
296     10.1

[17 rows x 73 columns]

In [31]:
print(data2["LIBZE2010"].value_counts())

Manosque                    1
Aix-en-Provence             1
Arles                       1
Orange                      1
Marseille-Aubagne           1
Nice                        1
Salon-de-Provence           1
Fréjus-Saint Raphaël        1
Cannes-Antibes              1
Draguignan                  1
Toulon                      1
Cavaillon-Apt               1
Briançon                    1
Gap                         1
Menton Vallée de la Roya    1
Istres-Martigues            1
Digne-les-Bains             1
Name: LIBZE2010, dtype: int64

In [56]:
data_T1_2020 =  (data["2020-T1"]>7.1)
print (data_T1_2020)

0      False
1       True
2      False
3      False
4      False
       ...
300     True
301     True
302     True
303     True
304    False
Name: 2020-T1, Length: 305, dtype: bool

In [53]:
data_T1_2019 = (data["2019-T1"]>7.1)
print (data_T1_2019)

0      False
1       True
2       True
3      False
4       True
       ...
300     True
301     True
302     True
303     True
304    False
Name: 2019-T1, Length: 305, dtype: bool

In [54]:
data_T1_2018 = (data["2018-T1"]>7.1)
print (data_T1_2018)

0       True
1       True
2       True
3      False
4       True
       ...
300     True
301     True
302     True
303     True
304    False
Name: 2018-T1, Length: 305, dtype: bool

In [57]:
data_7_1 = (data_T1_2018 & data_T1_2019 & data_T1_2020)
print (data_7_1)

0      False
1       True
2      False
3      False
4      False
       ...
300     True
301     True
302     True
303     True
304    False
Length: 305, dtype: bool

In [59]:
booleen = data_7_1.values.tolist()
print (booleen)

[False, True, False, False, False, True, True, False, True, True, True, False, False, False, True, False, True, False, True, False, True, True, False, False, False, False, False, False, True, True, True, True, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False, True, True, False, True, True, False, False, False, False, False, False, True, True, False, False, False, True, False, False, False, False, False, False, False, False, False, True, True, False, False, False, False, False, False, True, False, False, True, False, False, False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, True, False, True, True, True, False, True, True, True, True, False, True, False, True, True, True, False, False, False, False, False, True, False, False, True, False, False, True, False, False, False, False, False, True, False, False, False, False, False, True, False, True, False, False, False, False, True, True, False, True, True, False, False, True, True, True, True, False, False, False, True, True, False, False, False, False, False, False, False, False, False, False, False, True, True, True, False, True, True, True, True, False, False, False, False, True, True, True, True, True, True, True, True, True, True, True, False, False, False, True, True, True, False, False, True, False, True, False, True, True, True, True, False, False, True, False, False, False, True, True, True, True, True, True, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True, True, True, False, False, False, False, False, False, False, False, True, True, True, True, True, True, True, True, True, True, True, True, True, False, True, True, True, True, True, True, False, True, False, True, False, True, True, True, True, True, True, True, True, True, False, True, True, True, True, True, True, False]

In [64]:
df = pd.DataFrame({'booleen' : data_7_1})
print(df)

     booleen
0      False
1       True
2      False
3      False
4      False
..       ...
300     True
301     True
302     True
303     True
304    False

[305 rows x 1 columns]

In [66]:
df['booleen'].value_counts()

True     163
False    142
Name: booleen, dtype: int64

In [71]:
data3 = pd.read_excel('/home/simplon/Téléchargements/pole_emploi.xlsx', skiprows = 3)
data3

    Code                     Libellé  Pôle emploi 2018
0      1                  Guadeloupe                17
1      2                  Martinique                11
2      3                      Guyane                 8
3      4                  La Réunion                17
4      6                     Mayotte                 3
5     11               Île-de-France               164
6     24         Centre-Val de Loire               116
7     27     Bourgogne-Franche-Comté               165
8     28                   Normandie               145
9     32             Hauts-de-France               171
10    44                   Grand Est               238
11    52            Pays de la Loire               104
12    53                    Bretagne                91
13    75          Nouvelle-Aquitaine               251
14    76                   Occitanie               262
15    84        Auvergne-Rhône-Alpes               294
16    93  Provence-Alpes-Côte d'Azur               145
17    94                       Corse                31

In [78]:
fusion = pd.merge(data, data3, left_on ='REG', right_on ='Code')
fusion

,ZE2010,LIBZE2010,REG,LIBREG,2003-T1,2003-T2,2003-T3,2003-T4,2004-T1,2004-T2,...,2018-T4,2019-T1,2019-T2,2019-T3,2019-T4,2020-T1,data_7_1,Code,Libellé,Pôle emploi 2018
0,0060*,Saint-Étienne,84.0,Auvergne-Rhône-Alpes,8.0,8.2,8.1,8.4,8.6,8.3,...,8.3,8.4,8.1,8.3,8.0,7.7,True,84,Auvergne-Rhône-Alpes,294
1,8201,Ambérieu-en-Bugey,84.0,Auvergne-Rhône-Alpes,5.7,5.8,5.6,6.0,6.2,6.0,...,6.2,6.2,6.1,6.3,6.0,5.8,False,84,Auvergne-Rhône-Alpes,294
2,8202,Bourg-en-Bresse,84.0,Auvergne-Rhône-Alpes,4.5,4.7,4.6,4.8,4.9,4.9,...,6.4,6.4,6.3,6.5,6.2,5.9,False,84,Auvergne-Rhône-Alpes,294
3,8203,Oyonnax,84.0,Auvergne-Rhône-Alpes,6.8,6.9,7.2,7.7,7.8,7.5,...,7.6,7.6,7.4,7.4,7.3,7.2,True,84,Auvergne-Rhône-Alpes,294
4,8204,Annonay,84.0,Auvergne-Rhône-Alpes,7.6,8.0,8.0,8.1,8.1,7.8,...,8.2,8.2,7.9,7.9,7.7,7.3,True,84,Auvergne-Rhône-Alpes,294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,9403,Sartène-Propriano,94.0,Corse,10.7,10.7,10.4,10.0,10.5,10.4,...,10.1,10.0,9.5,9.6,9.5,9.4,True,94,Corse,31
291,9404,Bastia,94.0,Corse,9.2,8.9,8.9,9.3,9.4,9.3,...,9.2,9.2,8.8,8.5,8.2,7.9,True,94,Corse,31
292,9405,Calvi-L'Île-Rousse,94.0,Corse,11.7,11.4,11.2,11.4,11.2,11.5,...,11.4,11.6,11.0,10.8,10.5,10.1,True,94,Corse,31
293,9406,Corte,94.0,Corse,8.3,7.6,8.2,8.1,8.0,8.0,...,7.8,8.2,7.6,7.3,7.1,7.3,True,94,Corse,31
294,9407,Ghisonaccia-Aléria,94.0,Corse,9.6,8.8,9.0,9.4,9.6,9.7,...,9.9,10.0,9.4,9.4,9.0,8.6,True,94,Corse,31

In [82]:
fusion['quartile'] = pd.qcut(fusion['Pôle emploi 2018'], q = 4, labels = ['q25', 'q50', 'q75','q100'])
fusion

,ZE2010,LIBZE2010,REG,LIBREG,2003-T1,2003-T2,2003-T3,2003-T4,2004-T1,2004-T2,...,2019-T1,2019-T2,2019-T3,2019-T4,2020-T1,data_7_1,Code,Libellé,Pôle emploi 2018,quartile
0,0060*,Saint-Étienne,84.0,Auvergne-Rhône-Alpes,8.0,8.2,8.1,8.4,8.6,8.3,...,8.4,8.1,8.3,8.0,7.7,True,84,Auvergne-Rhône-Alpes,294,q100
1,8201,Ambérieu-en-Bugey,84.0,Auvergne-Rhône-Alpes,5.7,5.8,5.6,6.0,6.2,6.0,...,6.2,6.1,6.3,6.0,5.8,False,84,Auvergne-Rhône-Alpes,294,q100
2,8202,Bourg-en-Bresse,84.0,Auvergne-Rhône-Alpes,4.5,4.7,4.6,4.8,4.9,4.9,...,6.4,6.3,6.5,6.2,5.9,False,84,Auvergne-Rhône-Alpes,294,q100
3,8203,Oyonnax,84.0,Auvergne-Rhône-Alpes,6.8,6.9,7.2,7.7,7.8,7.5,...,7.6,7.4,7.4,7.3,7.2,True,84,Auvergne-Rhône-Alpes,294,q100
4,8204,Annonay,84.0,Auvergne-Rhône-Alpes,7.6,8.0,8.0,8.1,8.1,7.8,...,8.2,7.9,7.9,7.7,7.3,True,84,Auvergne-Rhône-Alpes,294,q100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,9403,Sartène-Propriano,94.0,Corse,10.7,10.7,10.4,10.0,10.5,10.4,...,10.0,9.5,9.6,9.5,9.4,True,94,Corse,31,q25
291,9404,Bastia,94.0,Corse,9.2,8.9,8.9,9.3,9.4,9.3,...,9.2,8.8,8.5,8.2,7.9,True,94,Corse,31,q25
292,9405,Calvi-L'Île-Rousse,94.0,Corse,11.7,11.4,11.2,11.4,11.2,11.5,...,11.6,11.0,10.8,10.5,10.1,True,94,Corse,31,q25
293,9406,Corte,94.0,Corse,8.3,7.6,8.2,8.1,8.0,8.0,...,8.2,7.6,7.3,7.1,7.3,True,94,Corse,31,q25
294,9407,Ghisonaccia-Aléria,94.0,Corse,9.6,8.8,9.0,9.4,9.6,9.7,...,10.0,9.4,9.4,9.0,8.6,True,94,Corse,31,q25

In [83]:
pd.pivot_table(fusion,index=["LIBREG"],values = ['2020-T1'],columns = ['quartile'])

                             2020-T1
quartile                         q25       q50       q75      q100
LIBREG
Auvergne-Rhône-Alpes             NaN       NaN       NaN  6.728571
Bourgogne-Franche-Comté          NaN  6.565217       NaN       NaN
Bretagne                    6.661111       NaN       NaN       NaN
Centre-Val-de-Loire         7.684211       NaN       NaN       NaN
Corse                       8.514286       NaN       NaN       NaN
Grand-Est                        NaN       NaN  7.264516       NaN
Hauts-de-France                  NaN  9.911538       NaN       NaN
Ile-de-France                    NaN  6.794737       NaN       NaN
Normandie                   7.150000       NaN       NaN       NaN
Nouvelle-Aquitaine               NaN       NaN  7.293548       NaN
Occitanie                        NaN       NaN       NaN  9.603333
Pays de la Loire            6.563158       NaN       NaN       NaN
Provence-Alpes-Côte d'Azur  8.864706       NaN       NaN       NaN